<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog App</title>
</head>
<body>
    <nav id="nav-bar">
        <div id="nav-content">
            <span class="color"><b>&lt;/&gt;&nbsp;&nbsp;</b>Blog App</span>
            <a href="/"class="color">Home</a>
            <a href="/blogs/new"class="color">New Post</a>
        </div>
    </nav>