body{
    margin:0px;
    padding:0px;
    font-size: 1rem;
    font-family: sans-serif;
    
}
.color{
    color: white;
    text-decoration: none;
}
#nav-bar{
    height: 5vh;
    width: 100vw;
    background-color: black;
}
#nav-content{
    height:inherit;
    width:17rem;
    margin-left: 15rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    height:15rem;
    width:40rem;
    border:1px solid black;
    margin:0px auto;
}